<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hyg.hvideo">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="com.hyg.basic.BaseApplication"
        tools:replace="android:name">
        <activity android:name=".VideoPlayerActivity"></activity>
    </application>

</manifest>